# **Task 1: Syntax Error Program**

In [2]:
#Program 1
a=10
@b=12
print(@b)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (<ipython-input-2-7feda9db2f00>, line 3)

In [4]:
#Program 2
print(Rameez Anwar")

SyntaxError: unterminated string literal (detected at line 2) (<ipython-input-4-c50fe0311b65>, line 2)

# **Task 2: Five Examples of Violating Variable Name**

In [6]:
#Program 1
$12No=12  #Error: Variable name cannot start with special symbol
No2=13
sum=$12No+No13;
print(sum)

SyntaxError: invalid decimal literal (<ipython-input-6-be7d738043b4>, line 2)

In [8]:
#Program 2
for ="Hello" #Error: Reseved words cannot be used a variable name
second = "World"
c=for+second
print(c)

SyntaxError: invalid syntax (<ipython-input-8-7a9afe3bc0cc>, line 2)

In [9]:
#Program 3
First_N="Rameez"
Last Name="Anwar" #ERROR: Space between varibale name
Full_name=First_N+Last Name
print(Full_name)

SyntaxError: invalid syntax (<ipython-input-9-3c5453da0f44>, line 3)

In [10]:
#Program 4
No1=50
 No2=60 #Error : Space before vaiable name(indentation Error)
sum=No1+No2
print(sum)

IndentationError: unexpected indent (<ipython-input-10-74e5b825a08b>, line 2)

In [12]:
#Program 5
112No="35" #Error: Variable name cannot start with any number
Name ="Rameez"
con=112No+Name
print(con)

SyntaxError: invalid decimal literal (<ipython-input-12-55c402c3d5e6>, line 2)

# **Task 3: Type Casting without Error**

In [15]:
#String to int
s_value="10"
int_val=int(s_value)
print("Type is ",type(int_val))

Type is  <class 'int'>

In [16]:
#int to string
i_value=15
str_val=str(i_value)
print("Type is ",type(str_val))

Type is  <class 'str'>

In [17]:
#Int to float
int_val=15
f_val=float(int_val)
print("Type is ",type(f_val))

Type is  <class 'float'>

In [19]:
#Float to int
f_value=15.555
int_val=int(f_value)
print("Int value ",int_val)
print("Type is ",type(int_val))

Int value  15
Type is  <class 'int'>

In [21]:
#Float to Complex
f_val=7.0
c_val=complex(f_val)
print("Complex value ",c_val)
print("Type is ",type(c_val))

Complex value  (7+0j)
Type is  <class 'complex'>

# **Task 4: Invalid Type Casting**

In [22]:
#String to int(Non numeric value)
name="Rameez"
int_n=int(name)
print(type(int_n))

ValueError: invalid literal for int() with base 10: 'Rameez'

In [24]:
#Complex to iny
c_val=4+4j
int_val=int(c_val)
print(type(int_val))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [27]:
#String to float(Non numeric values)
str_val="Rameez"
f_val=float(str_val)
print(type(f_val))

ValueError: could not convert string to float: 'Rameez'

In [37]:
#Complex to int
c_val=1+4j
int_val=int(c_val)
print(int_val)
print(type(int_val))

TypeError: float() argument must be a string or a real number, not 'complex'

In [38]:
#Complex to float
c_val=1+4j
int_val=float(c_val)
print(int_val)
print(type(int_val))

TypeError: float() argument must be a string or a real number, not 'complex'