<a href="https://colab.research.google.com/github/rameezmughal/Artificial-Intelligence-Lab/blob/main/Lab2%263/Lab_2_and_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LAB 2 and 3**
>Name : Rameez Anwar

>Reg No : B22F0150AI102

>Lab Instructor: Ms. Aneela Habib

>Topic : Data Types , Type Conversion

# **Task 1:** Print at least 5 types of data type

In [4]:
# Int Data Type (5 Example)

a=12
b=13
c=14
d=15
e=19
print(a,b,c,d,e,)
print(type(a),type(b),type(c),type(d),type(e))

12 13 14 15 19
<class 'int'> <class 'int'> <class 'int'> <class 'int'> <class 'int'>

In [5]:
# float data type (5 Examples )
a=12.2
b=4.5
c=5.3
d=43.4
e=55.5
print(a,b,c,d,e)
print(type(a),type(b),type(c),type(d),type(e))

12.2 4.5 5.3 43.4 55.5
<class 'float'> <class 'float'> <class 'float'> <class 'float'> <class 'float'>

In [6]:
# Complex data type(5 Examples )
a=5j
b=2j
c=4j
d=0+3j
e=5+4J
print(a,b,c,d,e)
print(type(a),type(b),type(c),type(d),type(e))

5j 2j 4j 3j (5+4j)
<class 'complex'> <class 'complex'> <class 'complex'> <class 'complex'> <class 'complex'>

# **Task 2:** Write example of type conversion for each ( minimum 3)

In [13]:
a = 4
str_a = str(a)
print(type(str_a))

<class 'str'>

In [15]:
b = 3.14
int_b = int(b)
print(type(int_b))

<class 'int'>

In [16]:
c = True
int_c = int(c)
print(type(int_c))

<class 'int'>

In [17]:
d="3+4j"
complex_d=complex(d)
print(type(complex_d))

<class 'complex'>

# **Task 3:** Assign multiple strings to single variable with your name , registration number, program , semester etc

In [44]:
Data = ["Name: Rameez","Reg: B22F0150AI102","program: AI","sem:4"]
print(type(Data))
print(Data)

<class 'list'>
['Name: Rameez', 'Reg: B22F0150AI102', 'program: AI', 'sem:4']

# **Task 4:** Write Your country name and access the last 3 characters

In [1]:
a="Pakistan"
print(a[5:8])

tan

# **Task 5:**Write code and observe using len() function it count space or not.

In [33]:
city ="Abbottabad" # without space
print(len(city))
city1= " Abbottabad " #with space
print(len(city1))
#Note : length function also counts spaces

10
12

# **Task 6:** Write code to access the 2nd and 3rd character of your name using negative indexes.

In [38]:
name = "Rameez"
print(name[-5:3])

am

# **Task 7:** Write python code in which you pass index number to format() function and arguments must be 4 and same code without indexes.

In [4]:
quantity = 3
item_no = 4050
price = 49.95

# Using format() without index numbers
print("I want {} pieces of item number {} for {} dollars.".format(quantity, item_no, price))

I want 3 pieces of item number 4050 for 49.95 dollars.

In [7]:
quantity = 3
item_no = 4050
price = 49.95

# Using format() with index numbers
print("I want {0} pieces of item number {1} for {2} dollars.".format(quantity, item_no, price))

I want 3 pieces of item number 4050 for 49.95 dollars.

# Task 8: Take input from user and  than display it like “John age is: age”

In [41]:
# Take input from the user
name = input("Enter your name: ")
age = int(input("Enter your age: "))

# Display the formatted string
print(f"{name} age is: {age}")

Enter your name: Rameez
Enter your age: 21
Rameez age is: 21