<a href="https://colab.research.google.com/github/rameezmughal/Artificial-Intelligence-Lab/blob/main/Lab%204%20and%205/Lab_4_and_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Programming for AI**
# **Lab 4 and 5**
> Name : Rameez Anwar

> Reg#              : B22F0150Ai102

> Course Instructor : Dr. Shahnawaz Qureshi

> Lab Instrctor     : MS. Aneela Habib

> Topic             : Operations and concepts related to lists

# **1.	Access List Items:**
•	Create a list of fruits.

•	Print the first and last items of the list.

In [58]:
# Task 1: List Items
fruits = ['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
print(fruits[0]) # accessing elements through index , Note: index starts from zero
print(fruits[3]) #last element(negative indexing)

apple
orange

# **2.Change List Items:**
•	Create a list of colors.

•	Change the second item in the list to "blue".

In [20]:

# Task 2: Change List Items
colors = ['red', 'yellow', 'green', 'white', 'black']
colors[1] = 'blue'
print(colors)

['red', 'blue', 'green', 'white', 'black']

# **3.	Add List Items:**
•	Create a list of numbers.

•	Add the number 10 at the end of the list.

In [57]:
# Task 3: Add List Items
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers.append(10)
print(numbers)
numbers.insert(4,122)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 122, 5, 6, 7, 8, 9, 10]

# **4.	Remove List Items:**
•	Create a list of animals.

•	Remove the third item from the list.

In [21]:

# Task 4: Remove List Items
animals = ['dog', 'cat', 'bird', 'fish', 'rabbit', 'horse']
animals.pop(2)
print(animals)

['dog', 'cat', 'fish', 'rabbit', 'horse']

# **5.	Loop Lists:**
•	Create a list of cities.

•	Loop through the list and print each city.

In [24]:
# Task 5: Loop Lists
cities = ['Abbottabad', 'Haripur', 'Islamabad', 'Khanewal', 'Layyah']
for city in cities:
  print(city)

Abbottabad
Haripur
Islamabad
Khanewal
Layyah

# **6.	List Comprehension:**
•	Create a list of numbers from 1 to 10.

•	Use list comprehension to create a new list containing the square of each number.

In [27]:

# Task 6: List Comprehension
numbers=[1,2,3,4,5,6,7,8,9,10]

squared_numbers = [number ** 2 for number in numbers]

print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]



# **7.	Sort Lists:**
•	Create a list of names.

•	Sort the list alphabetically.

In [30]:

# Task 7: Sort Lists
names = ['Rameez', 'Azeem', 'Fariha', 'Umer', 'Zia']
names.sort()
print(names)

['Azeem', 'Fariha', 'Rameez', 'Umer', 'Zia']

# **8.	Copy Lists:**
•	Create a list of fruits.

•	Copy the list into a new list.

In [32]:

# Task 8: Copy Lists
fruits = ["apple", "banana", "cherry"]

fruits_copy = fruits.copy()

print(fruits)
print(fruits_copy)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

# **9.	Join Lists:**
•	Create two lists of numbers.

•	Join the two lists into a single list.

In [34]:

# Task 9: Join Lists
numbers_list1 = [1, 2, 3]
numbers_list2 = [4, 5, 6]
joined_lists = numbers_list1 + numbers_list2
print(joined_lists)

[1, 2, 3, 4, 5, 6]

# **10.	List Methods:**
•	Create a list of fruits.

•	Use the append() method to add a new fruit to the list.

•	Use the pop() method to remove the last fruit from the list.

In [38]:

# Task 10: List Methods
fruits_methods = ['apple', 'banana', 'cherry']
fruits_methods.append('orange')
last_fruit_removed = fruits_methods.pop()
print(fruits_methods)

['apple', 'banana', 'cherry']

# **11.	Combining Lists and List Comprehension:**

•	Create two lists, one containing numbers from 1 to 5 and another containing numbers from 6 to 10.

•	Use list comprehension to create a new list that contains the sum of corresponding elements from the two lists.

In [43]:
# Task 11: Combining Lists and List Comprehension
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
combined_sums = [x + y for x, y in zip(list1, list2)]
print(combined_sums)

[7, 9, 11, 13, 15]


# **12.	Filtering and Sorting:**

* Create a list of numbers.

•	Use list comprehension to create a new list containing only the even numbers from the original list.

•	Sort the new list in descending order.
the two lists into a single list, alternating between even and odd numbers.

In [45]:
# Task 12: Filtering and Sorting
numbers_list = [12, 3, 5, 7, 8, 11, 14]
even_numbers_sorted_desc = sorted([x for x in numbers_list if x % 2 == 0], reverse=True)
print(even_numbers_sorted_desc)

[14, 12, 8]

# **13.	List Slicing and Reversing:**
•	Create a list of numbers from 1 to 10.

•	Use list slicing to create a new list containing only the even numbers from the original list, in reverse order.

In [49]:

# Task 13: List Slicing and Reversing
numbers_from_1_to_10 = [1,2,3,4,5,6,7,8,9,10]
even_numbers_reversed = numbers_from_1_to_10[1::2][::-1]
print(even_numbers_reversed)

[10, 8, 6, 4, 2]


# **14.	Combining Lists and List Methods:**
•	Create two lists, one containing even numbers and another containing odd numbers.

•	Use list methods to combine

In [48]:

# Task 14: Combining Lists and List Methods
even_numbers = [2, 4, 6, 8]
odd_numbers = [1, 3, 5, 7]
combined_alternate = [None] * (len(even_numbers) + len(odd_numbers))
combined_alternate[::2] = even_numbers
combined_alternate[1::2] = odd_numbers
print(combined_alternate)

[2, 1, 4, 3, 6, 5, 8, 7]